<!DOCTYPE html>
<html lang="en" data-theme="coffee">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KNN Prediction</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.1.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-[#fff0c9] h-screen">
    <div class="flex rounded-box justify-center">
        <form action="{{url_for('predict')}}" method="post"
            class="bg-[#512800] shadow-md px-8 pt-6 pb-8 mb-4 rounded-box w-screen">
            <div class="flex flex-col items-center">
                <b>
                    <p class="text-[#fff0c9] text-4xl text-center py-10">Predicción</p>
                </b>
                <p class="text-[#fff0c9] text-lg text-center">Cantidad actual vendida:</p>
                <input type="number" step="1" name="cantidad" required="required" placeholder="Cantidad"
                    class="bg-[#fff0c9] input input-bordered text-black w-1/4">
                <p class="text-[#fff0c9] text-lg text-center">Mes:</p>
                <select name="mes" id="mes" class="bg-[#fff0c9] text-black input input-bordered w-1/4">
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Setiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>
                <button type="submit" class="btn bg-[#6f1d1b] btn-active">Enviar</button>
                {%if prediction_text %}
                <b>
                    <p class="text-2xl text-center">{{prediction_text}}</p>
                </b>
                {%endif%}
            </div>
        </form>
    </div>
</body>

</html>